# Add any directories, files, or patterns you don't want to be tracked by version control
*.pyc
*~
.vscode
.DS_STORE
lib/
/static
darwin/**/*.css
darwin/migrations/*.py
db.sqlite3

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#sublime-gulp log files
.sublime-gulp.cache
sublime-gulp.log